* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  background: black;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 100px;
  box-shadow: 48px 0px 29px 33px rgba(14, 12, 3, 0.1);
}

.screen {
  text-align: right;
  color: white;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 35px;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.button {
  border: none;
  background: deeppink;
  color: white;
  height: 3.2rem;
  border-radius: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
}
button:hover {
  border: 2px dotted white;
  background-color: black;
  color: whitesmoke;
}
.equals {
  background: white;
  color: black;
  grid-column: 3/5;
}

.opt {
  background: pink;
}
